
  <nav class="ui stackable container menu">
      <h3 class="ui small header item"></h3>
        <a href="/login" class="active item" >Logout</a>
        <a href="/signup" class="item" >Signup</a>
</nav>
  <div class="ui stackable container">
      <div class="ui form">
        <h2>Login Form</h2>
        <form class="ui form">
          <div class="eight wide field">
            <label for="email">Email</label>
            <input type="text" class="form-control" name= username id="email-input" placeholder="Email Address">
          </div>
          <div class="eight wide field">
            <label for="password">Password</label>
            <input type="text" class="form-control" name=password id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="ui button">Login</button>
        </form>
        <br />
        <p><a href="/">First Time User?</a></p>
      </div>
  </div>

  <script type="text/javascript" src="./js/login.js"></script>
