
    <nav class="ui stackable container menu">
      <h3 class="ui small header item"></h3>
        <a href="/login" class="item" >Logout</a>
        <a href="/members" class="active item" >Feed</a>
        <a href="/posts" class="item" >Create a post</a>
    </nav>
    <div class="event">
    <div class="label">
      <img src="/images/avatar/small/helen.jpg">
    </div>
    <div class="content">
      <div class="date">
        3 days ago
      </div>
      <div class="summary">
         <a>Helen Troy</a> added 2 photos
      </div>
      <div class="extra images">
        <a><img src="/images/wireframe/image.png"></a>
        <a><img src="/images/wireframe/image.png"></a>
      </div>
    </div>
  </div>
  <div class="event">
    {{#each posts}}
    <p>displaying</p>
    <p>ID: {{this.id}}</p>
    <h3>{{this.title}}</h3>
    <p>{{this.body}}</p>
  {{/each}}
  </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="./js/members.js"></script>
