
   <nav class="ui stackable container menu">
      <h3 class="ui small header item"></h3>
        <a href="/login" class="item" >Logout</a>
        <a href="/signup" class="active item" >Signup</a>
</nav>
    <div class="ui stackable container">
      <div class="ui form">
        <h2>Signup Form</h2>
        <form class="ui form six wide field">
          <div class="field"> <!--make these inline? first/last...-->
            <label for="first_name">First name</label>
            <input
              type="text"
              class="form-control"
              name="first_name"
              id="first-input"
              placeholder="First Name"
            />
            <div class="field">
              <label for="last_name">Last name</label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                id="last-input"
                placeholder="Last Name"
              />
            </div>
          </div>
          <div class="six wide field">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="email-input"
              placeholder="Email Address"
            />
          </div>
          <div class="six wide field"> <!--how to obscure the text?-->
            <label for="password">Password</label>
            <input
              type="text"
              class="form-control"
              name="password"
              id="password-input"
              placeholder="password"
            />
          </div>
          <div class="six wide field">
            <label for="password">Enter password again</label>
            <input
              type="text"
              class="form-control"
              name="password"
              id="password2-input"
              placeholder="passwords must match"
            />
          </div>
          <button type="submit" class="ui button">Signup</button>
        </form>
        <br />
        <a href="/login">Already have an account?</a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="./semantic/dist/semantic.min.js"
    ></script>
    <script type="text/javascript" src="./js/signup.js"></script>
